<li>
	{{burger_name}}
	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}I WANT ANOTHER!{{else}}DEVOUR!{{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">I DON'T WANT THIS ANYMORE!</button>
</li>




