<li>
	{{burger_name}}
	<button class="change-devoured boxed-btn3" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}I want another!{{else}}Devour!{{/if}}
	</button>
	<button class="delete-burger boxed-btn3" data-id="{{this.id}}">Remove</button>
</li>




